.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 450px;
    padding: 15px;
  }

  &__title {
    margin-bottom: 5px;

    text-align: center;
    font-size: 50px;
    font-weight: bold;

    color: $primary-text-color;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__fieldLabel {
    width: 100%;
    padding: 5px;

    font-size: 16px;
    font-weight: bold;
    text-align: left;

    color: $primary-text-color;
  }

  &__field {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
  }

  &__input {
    width: 100%;
    margin-bottom: 5px;

    border: 2px solid $background-color-focus;
    border-radius: 15px;
    overflow: hidden;

    input {
      width: 100%;
      padding: 15px;

      font-size: 18px;
      font-weight: bold;

      outline: none;
      border: none;

      color: $primary-text-color;
      background-color: $background-color-focus;
    }

    &--error {
      border: 2px solid $error-color;
    }

    ::placeholder {
      color: $secondary-text-color;
      font-weight: normal;
    }
  }

  &__error {
    padding: 5px;

    p {
      height: 18px;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      color: $error-color;
    }
  }

  &__button {
    width: 50%;
    padding: 15px;
    margin-top: 10px;

    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

    border: none;
    border-radius: 100px;

    cursor: pointer;

    color: $primary-text-color;
    background-color: $primary-color;
  }

  &__signUp {
    margin-top: 40px;
    font-size: 16px;
    text-align: center;
    color: $secondary-text-color;

    a {
      font-weight: bold;
      color: $primary-text-color;
    }
  }
}
