.navbar {
  display: flex;
  justify-content: right;
  width: 300px;
  padding: 10px;

  border-right: 2px solid $ternary-text-color;

  &__title {
    font-size: 26px;
    font-weight: bold;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px 0;
  }

  &__link {
    display: flex;
    gap: 15px;
    padding: 10px 20px;

    border-radius: 10px;

    p {
      font-size: 24px;
      font-weight: bold;
    }

    &:hover {
      background-color: $background-color-focus;
    }
  }

  &__icon {
    width: 21px;
  }

  &__button {
    width: 150px;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: bold;

    border-radius: 30px;

    cursor: pointer;
  }
}
