.post-detail {
  // TOPBAR
  &__topbar {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 50px;
    padding: 0 20px;

    border-bottom: 1px solid $ternary-text-color;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;
    border-radius: 100%;

    cursor: pointer;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      background-color: $background-color-focus;
    }
  }

  &__post {
    padding: 0px 15px;

    border-bottom: 1px solid $ternary-text-color;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-top: 10px;
    margin-bottom: 8px;
  }

  &__picture {
    width: 50px;
    height: 50px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background-color: $ternary-text-color;
    }
  }

  &__username {
    font-size: 18px;
    font-weight: bold;
  }

  &__mention {
    color: $secondary-text-color;
  }

  &__content {
    font-size: 24px;
    overflow-wrap: anywhere;

    margin-bottom: 10px;
  }

  &__buttons {
    display: flex;
    gap: 50px;
    padding: 15px 15px;

    border-top: 1px solid $ternary-text-color;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px 5px;

    cursor: pointer;

    img {
      width: 18px;
      height: auto;
    }

    p {
      font-size: 18px;
      margin-bottom: 2px;
      color: $secondary-text-color;
    }

    &:hover {
      border-radius: 10px;
      background-color: $background-color-focus;
    }
  }
}
