$primary-color: #5cdab0;

$primary-text-color: #2b6853;
$secondary-text-color: #ffffff;
$ternary-text-color: #6d6d6d;

// $background-color: #f5f9f8;
$background-color: #eaf5f2;
$background-color-2: #a7c5be;

$error-color: #f74e4e;
