$primary-color: #0085ff;

$primary-text-color: #ffffff;
$secondary-text-color: #aebbc9;
$ternary-text-color: #2e4052;

$background-color: #161e27;
$background-color-focus: #1e2936;
$overlay-color: #000000;

$error-color: #f74e4e;
