$primary-color: #0085ff;

$primary-text-color: #ffffff;
$secondary-text-color: #aebbc9;
$ternary-text-color: #2e4052;

// $background-color: #f5f9f8;
$background-color: #161e27;
$background-color-focus: #1e2936;

$error-color: #f74e4e;
